{% extends 'basic_app/base.html' %}
{% block body_block %}

      <h1>Here is your details</h1>
      <div>
        {% if user %}
        <ol>
            {% for person in user %}
            <li>User Info</li>
            <ul>
                <li>{{ person.username }}</li>
                <li>{{ person.profile_pic }}</li>
                <li>{{ person.portfolio_site }}</li>
            </ul>
        </ol>
            {% endfor %}
        {% else %}
        <p>NO DATA AVAILABLE</p>
        {% endif %}
        

      </div>

{% endblock %}